
body {
    background-color: rgb(98, 137, 123);
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-decoration: underline;
}

h1 { 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 60;
}

